*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.principal {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar main main main"
      "sidebar main main main"
      "sidebar main main main";
  }
  
  .sidebar { grid-area: sidebar; }
  
  .main { grid-area: main; }

.productos > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.img-producto{
    text-align: center;
    background-color: #C9C9C9;
}

p{
    text-align: center;
}

.precio{
    color: #B2A3B5;
}

.img-producto > img{
    width: 80%;
    box-sizing: content-box;
    padding: 10px;
}

.producto{
    width: 17vw;
    border: 1px solid #A3A3A3;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom:7px;
    box-sizing: content-box;
}

.agregarCarrito{
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #424242;
    color: white;
    font-size: 13px;
}

label{
    color: #8a7f8c;
    text-align: center;
    padding: 0px 10px;
    padding-top: 5px;
}

.precioYCarrito {
    display: flex;
    align-items: center;
    flex-direction: column;
}