* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #CAE9FF !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}



body.dark-mode {
    background-color: #210B2C !important;
}

body.dark-mode>nav.navJC {
    background-color: #1E152A !important;
}

body.dark-mode>nav.navJC .container-fluid a {
    color: white;
}

body.dark-mode>nav.navJC .container-fluid #navbarTogglerDemo02 ul li {
    border: 2px solid transparent;
}

body.dark-mode>nav.navJC .container-fluid #navbarTogglerDemo02 ul li:hover {
    background-color: #E3BCEF;
    border-bottom: 2px solid #7E5A9B;
}

body.dark-mode>nav.navJC .container-fluid #navbarTogglerDemo02 ul li:hover a {
    color: #1E152A;
}

body.dark-mode>nav.navJC .container-fluid #navbarTogglerDemo02 ul li a {
    color: white;
}

body.dark-mode>nav.navJC .container-fluid .collapse.navbar-collapse .btnCambiarMode{
    color: white;
    background-color: transparent;
    border: 3px solid white;
}

body.dark-mode>nav.navJC .container-fluid .collapse.navbar-collapse .btnCambiarMode:hover{
    border: 3px solid #1E152A;
    background-color: #E3BCEF;
    color: #1E152A;
}

body.dark-mode>nav.navJC .container-fluid > button{
    background-color: #7E5A9B;
    border: 1px solid white;
}

.btnSearch.dark-mode {
    background-color: #7E5A9B !important;
    border: 2px solid #7E5A9B !important;
    color: #2e2041 !important;
}

button:hover.btnSearch.dark-mode {
    background-color: #2e2041 !important;
    color: #7E5A9B !important;
    border: 2px solid #7E5A9B !important;
}

body.dark-mode .sidebar {
    background-color: #4A2B5C;
}

body.dark-mode .sidebar .ligasYOrden .ligasSidebar .lista-categorias>li button {
    color: white;
}

body.dark-mode .sidebar .ligasYOrden .ligasSidebar .lista-categorias>li button.active {
    background-color: #210B2C;
}

body.dark-mode .sidebar .ligasYOrden .ligasSidebar .lista-categorias>li button:hover {
    background-color: #210B2C;
}

body.dark-mode .principal .productos .producto {
    border: 2px solid #613DC1;
}

body.dark-mode .principal .productos .producto:hover {
    box-shadow: 0 0 3px white;
}

body.dark-mode .principal .productos .producto .img-producto {
    background-color: #1A1423;
}

body.dark-mode .principal .productos .producto .info-producto {
    background-color: black;
}

body.dark-mode .principal .productos .producto .info-producto .nombre label {
    color: white;
}

body.dark-mode .principal .productos .producto .info-producto .precioYCarrito p label {
    color: white;
}

body.dark-mode .principal .productos .producto .info-producto .precioYCarrito button {
    color: white;
    background-color: #613DC1;
    border: 2px solid transparent;
}

body.dark-mode .principal .productos .producto .info-producto .precioYCarrito button:hover {
    background-color: #3D2A55;
    color: white;
    border: 2px solid #7E5A9B;
}

body.dark-mode .footer {
    background-color: #381B49;
}

body.dark-mode .footer>p {
    color: white;
}

body.dark-mode .footer .redes .itemRed>i {
    color: white;
}

body.dark-mode .footer .redes .itemRed:hover>i {
    color: #B288C0;
}

nav.navJC {
    width: 100% !important;
    background-color: #41BBD9 !important;
}

nav.navJC .container-fluid #navbarTogglerDemo02 ul li {
    border: 2px solid transparent;
}

nav.navJC .container-fluid a,
nav.navJC .container-fluid #navbarTogglerDemo02 ul li a {
    color: #02182B;
}

nav.navJC .container-fluid #navbarTogglerDemo02 ul li:hover {
    border-bottom: 2px solid #02182B;
    background-color: #ADCAD6;
}

body.dark-mode .carrito {
    background-color: #1E152A;
    border: 6px solid #613DC1;
}

body.dark-mode .carrito #tituloCarrito {
    color: white;
}





body.dark-mode .carrito .carritoEmpty > p{
    color: white;
}

body.dark-mode .carrito .carritoEmpty > p a{
    color: #613DC1;
}

body.dark-mode .carrito .carritoEmpty > p a:hover{
    color: #B288C0;
}

body.dark-mode .carrito .productosCarrito .productoCarro .descripcionProductoCarro small {
    color: white;
}

body.dark-mode .carrito .productosCarrito .productoCarro {
    border-bottom: 1px solid #613DC1;
}

body.dark-mode .carrito .productosCarrito .productoCarro .cantidadProductoCarro small{
color: white;
}

body.dark-mode .carrito .productosCarrito .productoCarro .cantidadProductoCarro p{
    color: white;
}

body.dark-mode .carrito .productosCarrito .productoCarro .cantidadProductoCarro p button{
    background-color: #7E5A9B;
    border: 3px solid #7E5A9B;
    color: #1E152A;
}

body.dark-mode .carrito .productosCarrito .productoCarro .cantidadProductoCarro p button:hover{
    background-color: #1E152A;
    border: 3px solid #7E5A9B;
    color: white;
}

body.dark-mode .carrito .productosCarrito .productoCarro .descripcionProductoCarro p {
    color: white;
}

body.dark-mode .carrito .productosCarrito .productoCarro .precioProductoCarro small {
    color: white;
}

body.dark-mode .carrito .productosCarrito .productoCarro .precioProductoCarro p {
    color: white;
}

body.dark-mode .carrito .productosCarrito .productoCarro .subtotal small {
    color: white;
}

body.dark-mode .carrito .productosCarrito .productoCarro .subtotal p {
    color: white;
}

body.dark-mode .carrito .productosCarrito .productoCarro .eliminarProductoCarro {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

body.dark-mode .carrito .productosCarrito .productoCarro .eliminarProductoCarro:hover {
    background-color: transparent;
    color: #A5243D;
    border: 2px solid #A5243D;
}

body.dark-mode .carrito .acciones-carito div button{
    background-color: #7E5A9B;
    border: 3px solid #7E5A9B;
    color: #1E152A;
}

body.dark-mode .carrito .acciones-carito div button:hover{
    background-color: #1E152A;
    border: 3px solid #7E5A9B;
    color: white;
}

body.dark-mode .carrito .acciones-carito .div-precio-comprar p{
    color: white;
}

/*INGRESO Y REGISTRO DARK MODE*/
body.dark-mode .registerBox .hijo {
    border: 6px solid #613DC1;
    background-color: #1E152A;
}

body.dark-mode .registerBox .hijo .tituloRegistro,
body.dark-mode .registerBox .hijo .usuario .tituloUsuario,
body.dark-mode .registerBox .hijo .tituloRecuperar{
    color: white;
}


body.dark-mode .registerBox .hijo .usuario .input-group.mb-3 input,
body.dark-mode .registerBox .hijo .contrasenia .input-group input{
    color: white;
    border: 1px solid #613DC1;
    background-color: #1E152A;
}

body.dark-mode .registerBox .hijo .contrasenia .input-group > span{
    background-color: #1E152A;
    border: 1px solid #613DC1;
}

body.dark-mode .registerBox .hijo .contrasenia .input-group > span > i{
    color: white;
}

body.dark-mode .registerBox .hijo .usuario .input-group.mb-3 input::placeholder,
body.dark-mode .registerBox .hijo .contrasenia .input-group input::placeholder{
    color: white;
}

body.dark-mode .registerBox .hijo .contrasenia .tituloContrasenia {
    color: white;
}

body.dark-mode .registerBox .hijo .primeraVez {
    color: white;
}

body.dark-mode .registerBox .hijo .primeraVez a {
    color: #EFCEFA;
}

body.dark-mode .registerBox .hijo .primeraVez a:hover {
    color: #A88FAC;
}

body.dark-mode .registerBox .hijo a#olvideContrasenia>label {
    color: #EFCEFA;
}

body.dark-mode .registerBox .hijo a#olvideContrasenia:hover>label {
    color: #A88FAC;
}

body.dark-mode .registerBox .hijo .enviarRegistro>button {
    background-color: #7E5A9B;
    border: 2px solid #7E5A9B;
    color: #1E152A;
}

body.dark-mode .registerBox .hijo .enviarRegistro:hover>button {
    background-color: #1E152A;
    border: 2px solid #7E5A9B;
    color: white;
}

body.dark-mode .principal .main .ordenamientoYBusqueda .busqueda .form-buscarProd .input-buscarProd{
background-color: #1E152A;
border-color:#613DC1;
color: white;
}

body.dark-mode .principal .main .ordenamientoYBusqueda .busqueda .form-buscarProd .btn-buscarProd{
    background-color: #613DC1;
    color: white;
    border: 2px solid transparent
}

body.dark-mode .principal .main .ordenamientoYBusqueda .busqueda .form-buscarProd .btn-buscarProd:hover{
    background-color: #3D2A55;
    border-color: #7E5A9B;
}

body.dark-mode .principal .main .ordenamientoYBusqueda .ordenamiento #ordenar{
    background-color: #1E152A;
    color: white;
    border-color:#613DC1;
}



.principal {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sidebar main"
}

.sidebar {
    grid-area: sidebar;
    background-color: #5FA8D3;
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-right: 0;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.ligasSidebar>ul>li a,
.listaOrdenar>li a {
    color: #1c1f1d;
}

.ordenarProductos,
.ligasSidebar {
    padding-left: 20px;
}

.listaOrdenar,
.ligasSidebar>ul {
    padding-left: 0 !important;
}

.main {
    grid-area: main;
}

.productos {
    margin-top: 10px;
    padding-left: 7px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.filtroLigas,
.ordenarProductos>h3 {

    padding-top: 10px;
    font-weight: bold;
    font-size: 2rem;
}

.lista-categorias {
    display: flex;
    flex-direction: column;
}

.boton-menu-categoria {
    width: 100%;
    text-align: start;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: .5rem;
    background-color: transparent;
    border: none;
    font-weight: bold;
    transition: .3s;
}

.boton-menu-categoria:hover {
    background-color: #CAE9FF;
    box-shadow: 0 0 3px inset;
}

.boton-menu-categoria.active {
    background-color: #CAE9FF;
}




.img-producto {
    text-align: center;
    background-color: #C9C9C9;
}

p {
    text-align: center;
}

.precio {
    color: #084B83;
}

.img-producto>img {
    width: 80%;
    box-sizing: content-box;
    padding: 10px;
}

.producto {
    width: 17vw;
    border: 2px solid #A3A3A3;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-right: 7px;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 0;
    box-sizing: content-box;
    background-color: white;
    flex: auto;
    transition: .3s;
}

.producto:hover {
    box-shadow: 0 0 3px;
}

.info-producto {
    padding: .25rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.agregarCarrito {
    width: 100%;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: #68C5DB;
    color: #02182B;
    font-size: 13px;
    transition: .3s;
    font-weight: bold;
    border: 2px solid #68C5DB;
}

.agregarCarrito:hover {
    background-color: #02182B;
    color: #68C5DB;
    border: 2px solid #68C5DB;
}


label {
    color: #084B83;
    text-align: center;
    padding: 0px 10px;
    padding-top: 5px;
}

.precioYCarrito {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;
}

.itemLista {
    padding: 0px 15px;
    transition: .3s;
}

.itemLista:hover {
    background-color: #e0e3e2;
}

.btnCambiarMode {
    padding: 15px;
    color: #101D42;
    background-color: transparent;
    border: 3px solid #101D42;
    border-radius: 6px;
    transition: .3s;
}

.btnCambiarMode:hover {
    color: #68C5DB;
    border: 3px solid #68C5DB;
    background-color: #101D42;
}







.btnSearch {
    background-color: #68C5DB !important;
    border: 3px solid #68C5DB !important;
    color: #02182B !important;
    transition: .3s !important;
}

.btnSearch:hover {
    background-color: #02182B !important;
    color: #68C5DB !important;
    border-color: #68C5DB !important;
}

.ingresoYRegistro>a {
    margin-right: 15px;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;

}

.ingresoYRegistro>a:hover {
    border-bottom: 2px solid black;
    background-color: #D7D6D6;
}

#olvideContraseña {
    padding: 0;
}

.registerBox {
    margin: 10px 0px;
    height: 100%;
    box-shadow: 0 0 6px;
}

.hijo {
    border: 6px solid #68C5DB;
    border-radius: 3px;
    width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.usuario>p,
.contrasenia>p {
    color: #101D42;
    font-size: 20px;
    font-weight: bold;
}

.tituloUsuario,
.tituloContrasenia {
    margin-bottom: 0;
    padding: 5px;
}

.contrasenia,
.usuario {
    width: 100%;
}

.tituloRegistro {
    color: #101D42;
    font-weight: bold;
}

.tituloRecuperar {
    font-size: 2rem;
    color: #101D42;
    font-weight: bold;
    text-align: center;
}

.primeraVez {
    margin-bottom: 0;
    padding-top: 8px;
    color: #101D42;
}

.primeraVez>a {
    color: #232ED1;
    text-decoration: underline;
    cursor: pointer;
    transition: all .3s;
}

#tituloCarrito {
    font-size: 3rem;
    color: #101D42;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
}

.enviarRegistro>button {
    padding: 7px 15px;
    background-color: #68C5DB;
    border: 2px solid #02182B;
    color: #02182B;
    border-radius: 10px;
    transition: all .3s;
}

.enviarRegistro>button:hover {
    background-color: #02182B;
    border: 3px solid #68C5DB;
    color: #68C5DB;
}

.enviarRegistro>button:active {
    background-color: #1c1f1d;
    border: 3px solid #2a2e2c;
    color: rgb(86, 85, 85);
}


#olvideContrasenia>label {
    color: #232ED1;
    text-decoration: underline;
    cursor: pointer;
    padding-bottom: 10px;
    transition: all .3s;
}

#olvideContrasenia:hover>label,
.primeraVez>a:hover {
    color: #89D2DC;
}


footer>p {
    color: #1B4965;
    padding: 10px;
    margin-bottom: 0 !important;
}

.redes>a {
    margin-left: 8px;
}

.itemRed>i {
    font-size: 30px;
    color: #1B4965;
    transition: all .3s;
}

.redes>a>i:hover {
    color: white;
}

.footer {
    width: 100%;
    background-color: #BEE9E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
}

.main {
    width: 100%;
    height: 100%;
}

.productosCarrito {
    height: 100%;
    overflow: auto;
    padding-top: 1rem;
    width: 100%;
}

.carrito {
    background-color: white;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 6px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    border: 6px solid #68C5DB;
}

.productoCarro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00A6FB;
    padding: 10px;
}

.productoCarro p {
    margin-bottom: 0;
    color: #101D42;
    font-weight: bold;
    text-align: start;
    font-size: .8rem;
}




.precioProductoCarro,
.subtotal,
.cantidadProductoCarro {
    font-size: .8rem;
    text-align: center;
    flex: 1;
}

.precioProductoCarro > p,
.subtotal > p{
    text-align: center;
}

.descripcionProductoCarro {
    text-align: start;
    font-size: .8rem;
    flex: 3;
    padding-left: 10px;
}


.carritoEmpty{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carritoEmpty > p{
    color: #101D42;
    font-weight: bold;
}

.carritoEmpty > p a{
    transition: .3s;
    color: #1B4965;
}

.carritoEmpty > p a:hover{
    color: #68C5DB;
}

.eliminarProductoCarro {
    padding: 15px;
    margin-right: 8px;
    color: #FF1654;
    background-color: white;
    border: 2px solid #FF1654;
    transition: all .3s;
    border-radius: 6px;
}

.eliminarProductoCarro:hover {
    color: white;
    background-color: #FF1654;
    border: 2px solid #FF1654;
}

.productoAgregado {
    border-top: 2px solid #424242;
    border-bottom: 2px solid #424242;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productoAgregado button {
    padding: 7px 15px;
    transition: .3s;
    background-color: #424242;
    border: 2px solid #424242;
    color: white;
    box-shadow: 0 0 3px;
}

.productoAgregado button:hover {
    background-color: white;
    color: #424242;
}

.productoAgregado button:hover>i {
    color: #424242;
}

.productoAgregado span {
    font-weight: bold;
    color: #424242;
}

.ordenamientoYBusqueda{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.btn-buscarProd{
    background-color: #68C5DB;
    color: #02182B;
    border: 2px solid #68C5DB;
    border-radius: 6px;
    transition: .3s;
    font-weight: bold;
    padding: 3px 8px;
}

.input-buscarProd{
    padding: 3px 8px;
    border-radius: 6px;
    border: none;
    border: 2px solid #68C5DB;
}

.btn-buscarProd:hover{
    background-color: #02182B;
    color: #68C5DB;
}

#ordenar{
    padding: 3px 8px;
    border-radius: 6px;
    border: 2px solid #68C5DB;
    color: #02182B;
    font-weight: bold;
    background-color: white;
}

.acciones-carito{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.div-precio-comprar{
    display: flex;
    gap: 5px;
    align-items: center;
}

.div-precio-comprar p{
    color: #101D42;
    font-weight: bold;
    margin-bottom: 0;
}

.div-precio-comprar button,
.div-vaciarCarrito button,
.aumentarCantidadProducto,
.restarCantidadProducto{
    padding: 4px 8px;
    border-radius: 6px;
    background-color: #68C5DB;
    color: #101D42;
    font-weight: bold;
    border: 3px solid transparent;
    transition: .3s;
}

.restarCantidadProducto,
.aumentarCantidadProducto{
margin: 0px 5px;
}

.div-precio-comprar button:hover,
.div-vaciarCarrito button:hover,
.aumentarCantidadProducto:hover,
.restarCantidadProducto:hover{
    background-color: #101D42;
    color: #68C5DB;
    border-color: #68C5DB;
}

.aumentarCantidadProducto,
.restarCantidadProducto{
    padding: 0px 8px;
}

.cantidadProductoCarro > p{
    text-align: center;
}


.none{
    display: none;
}